.contact_page {
  font-family: 'faustina', sans-serif;
  background-color: #f8f4ef;
  color: #6d4820;
  margin: 0;
  padding: 0 50px;
}

.contact_content {
  padding: 10px 10px 50px 10px;
}

.contact_title {
  margin: 0;
  padding: 20px 0;
}
