.home {
  font-family: 'faustina', sans-serif;
  background-color: #f8f4ef;
  color: #6d4820;
  margin: 0;
  padding: 60px 0;
}

* {
  scroll-behavior: smooth;
}
span {
  font-family: 'Young Serif';
}

.accueil,
.prestations,
.mini_a_propos,
.recommendations,
#contact {
  padding: 0 80px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.intro {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.title {
  margin: 0;
  padding-left: 20px;
}

.img_container {
  display: flex;
  justify-content: center;
  margin-right: 100px;
  margin-left: 150px;
}

.img_ana_tournesol {
  height: 400px;
  border-radius: 35px;
}

.intro_txt {
  width: 50%;
  height: 80%;
}

.button {
  font-family: 'faustina', sans-serif;
  color: #f8f4ef;
  transition: ease-in-out 0.3s;
  text-align: center;
  margin: 0 20px;
  background-color: #b4b1c6;
  border: 2px solid #b4b1c6;
  border-radius: 30px;
  font-size: 14px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.04) 0px 3px 3px,
    rgba(0, 0, 0, 0.04) 0px 6px 6px,
    rgba(0, 0, 0, 0.04) 0px 12px 12px;
}

.button:hover {
  transform: scale(110%);
  transition: ease-in-out 0.3s;
  cursor: pointer;
  background-color: #f8f4ef;
  border: 2px solid #f8f4ef;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.04) 0px 3px 3px,
    rgba(0, 0, 0, 0.04) 0px 6px 6px,
    rgba(0, 0, 0, 0.04) 0px 12px 12px;
}

.home_paragraphe {
  background-color: #6d4820;
  color: #f8f4ef;
  padding: 40px;
  height: 120px;
  border-radius: 120px 60px 120px 60px;
  text-align: justify;
}

.prestations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.prestations_card_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.prestations_card {
  width: 29%;
  padding: 0 20px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.04) 0px 3px 3px,
    rgba(0, 0, 0, 0.04) 0px 6px 6px,
    rgba(0, 0, 0, 0.04) 0px 12px 12px;
  transition: ease-in-out 0.7s;
  border-radius: 4px;
}

.prestations_card:hover {
  transition: ease-in-out 0.7s;
  background-color: #b4b1c6;
  color: #f8f4ef;
}

.mini_a_propos {
  margin: 50px 0;
}

.mini_a_propos_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.ana_img {
  margin: 20px 0;
  width: 200px;
  border-radius: 500px;
  filter: brightness(90%);
}

.mini_a_propos p {
  width: 450px;
  top: 60%;
  left: 25%;
}

.a_propos_btn {
  display: none;
}

.recommandation_PC {
  padding: 0 80px;
}

.recommandation_phone {
  display: none;
}

.recommandations_title {
  margin-bottom: 40px;
}

.reco {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.reco_card {
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 20px;
  width: 400px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.04) 0px 3px 3px,
    rgba(0, 0, 0, 0.04) 0px 6px 6px,
    rgba(0, 0, 0, 0.04) 0px 12px 12px;
}

.contact_content {
  display: flex;
  align-items: center;
}

.sunflower {
  height: 200px;
}

@media screen and (max-width: 1024px) {
  .accueil,
  .prestations,
  .mini_a_propos,
  .recommendations,
  #contact {
    padding: 0 40px;
  }

  .img_container {
    display: flex;
    justify-content: center;
    margin-right: 60px;
    margin-left: 90px;
  }

  .img_ana_tournesol {
    height: 325px;
  }
}

@media screen and (max-width: 767px) {
  .accueil,
  .prestations,
  .mini_a_propos,
  .recommendations,
  #contact {
    padding: 50px 20px;
  }

  h1 {
    font-size: 23px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .home {
    padding: 20px 0;
  }

  .img_container {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .img_ana_tournesol {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 380px;
    border-radius: 120px 120px 5px 5px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .intro_txt {
    width: 100%;
  }

  .button_papote {
    margin-top: 20px;
  }

  .home_paragraphe {
    margin: 40px -20px;
    padding: 80px;
    height: 100%;
    border-radius: 0;
    /*=======Masque pour effet vague=======*/
    --mask: radial-gradient(89.44px at 50% 120px, #000 99%, #0000 101%)
        calc(50% - 80px) 0/160px 100%,
      radial-gradient(89.44px at 50% -80px, #0000 99%, #000 101%) 50% 40px/160px
        100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  .prestations {
    margin: 0 0 60px 0;
  }

  .prestations_card_container {
    flex-direction: column;
    margin-bottom: 0;
    padding-right: 20px;
  }

  .prestations_card {
    width: 99%;
    padding: 0;
    margin-bottom: 20px;
  }

  .prestations_card,
  .reco_card h3,
  p {
    padding-left: 20px;
  }

  .title_mini_a_propos {
    padding-left: 20px;
    padding-top: 20px;
  }

  .mini_a_propos {
    border-radius: 0px;
    position: relative;
    margin: 0;
    padding-bottom: 40px;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
      rgba(0, 0, 0, 0.04) 0px 3px 3px,
      rgba(0, 0, 0, 0.04) 0px 6px 6px,
      rgba(0, 0, 0, 0.04) 0px 12px 12px;
  }

  .mini_a_propos_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ana_img {
    margin-top: 0;
    width: 200px;
    filter: brightness(100%);
  }

  .mini_a_propos_content p {
    width: 100%;
    position: inherit;
    color: black;
    width: 100%;
    left: inherit;
  }

  .recommandation_phone {
    display: inherit;
  }

  .recommandation_PC {
    display: none;
  }

  .recommendations_title {
    margin-top: 60px;
    margin-bottom: -20px;
  }
  .reco_card {
    border-radius: 10px;
    margin-bottom: 40px;
    height: 270px;
    width: 100%;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
      rgba(0, 0, 0, 0.04) 0px 3px 3px,
      rgba(0, 0, 0, 0.04) 0px 6px 6px,
      rgba(0, 0, 0, 0.04) 0px 12px 12px;
  }

  .contact_title {
    margin-top: 40px;
  }

  .contact_content {
    display: inherit;
  }

  .sunflower_img_container {
    display: none;
  }
}
