.home {
  font-family: 'faustina', sans-serif;
  background-color: #f8f4ef;
  color: #54361b;
  margin: 0;
  padding: 60px 0;
}

span {
  font-family: 'Young Serif';
}

.accueil,
.prestations,
.mini_a_propos,
.recommendations,
#contact {
  padding: 0 80px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 30px 100px;
}

.title {
  margin: 0;
}

.img_container {
  display: flex;
  justify-content: center;
  margin-right: 60px;
}

.img_ana_tournesol {
  height: 400px;
  border-radius: 50px;
}

.intro_txt {
  width: 50%;
  height: 80%;
  margin-right: 80px;
}

.button {
  font-family: 'faustina', sans-serif;
  transition: ease-in-out 0.3s;
  margin: 0 20px;
  background-color: #f8f4ef;
  padding: 10px;
  border: 2px solid #54361b;
  border-radius: 30px;
  color: #54361b;
  font-size: 14px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.04) 0px 3px 3px,
    rgba(0, 0, 0, 0.04) 0px 6px 6px,
    rgba(0, 0, 0, 0.04) 0px 12px 12px;
}

.button:hover {
  transform: scale(110%);
  transition: ease-in-out 0.3s;
  cursor: pointer;
  background-color: #b4b1c6;
  border: 2px solid #b4b1c6;
  color: #f8f4ef;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.04) 0px 3px 3px,
    rgba(0, 0, 0, 0.04) 0px 6px 6px,
    rgba(0, 0, 0, 0.04) 0px 12px 12px;
}

.home_paragraphe {
  background-color: #184740;
  color: #f8f4ef;
  padding: 40px;
  border-radius: 200px 60px 120px 70px;
}

.accueil {
  position: relative;
}

.silhouette_yoga {
  height: 150px;
  position: absolute;
  top: 89%;
  left: 83%;
}

.prestations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.prestations_card_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.mini_a_propos {
  background-color: #8489733b;
  margin: 80px 60px;
  padding: 50px;
  border-radius: 120px;
}

.mini_a_propos_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ana_img {
  margin-top: 20px;
  height: 200px;
  border-radius: 20px;
}

.recommendations_title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #184740;
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.04) 0px 3px 3px,
    rgba(0, 0, 0, 0.04) 0px 6px 6px,
    rgba(0, 0, 0, 0.04) 0px 12px 12px;
}

.form input,
textarea {
  border-radius: 20px;
  border: 1px solid #54361b;
  background-color: #f8f4ef;
  padding: 10px;
  margin: 5px;
}

.form textarea {
  resize: none;
  height: 150px;
}

.button_envoyer {
  margin-top: 10px;
  width: 20%;
}
