.card {
  width: 29%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.04) 0px 3px 3px,
    rgba(0, 0, 0, 0.04) 0px 6px 6px,
    rgba(0, 0, 0, 0.04) 0px 12px 12px;
  transition: ease-in-out 0.4s;
}

.card:hover {
  color: #f8f4ef;
  transition: ease-in-out 0.4s;
  background-color: #b4b1c6;
}

.img_card_container {
  width: 100%;
}

.img_card {
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.card_home_title {
  text-align: center;
}
