.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #5d4828;
  border-radius: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.04) 0px 3px 3px,
    rgba(0, 0, 0, 0.04) 0px 6px 6px,
    rgba(0, 0, 0, 0.04) 0px 12px 12px;
  padding: 20px;
  width: 50vw;
  margin: auto;
}

.form input,
textarea {
  border-radius: 20px;
  border: 0px solid #54361b;
  padding: 10px;
  margin: 5px;
}

.form textarea {
  resize: none;
  height: 150px;
}

#first_name,
#last_name {
  width: 180px;
}

.button_envoyer {
  width: 10vw;
  margin-top: 5px;
}

@media screen and (max-width: 767px) {
  .form {
    width: inherit;
  }
  .button_envoyer {
    width: 25vw;
  }
}
