.headerSection {
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  height: 10px;
  background-color: #f8f4ef;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.headerLogo {
  height: 50px;
}

.headerNav {
  display: flex;
  margin-left: 50px;
  align-items: center;
}

.lien {
  color: #848973;
  text-decoration: none;
  font-size: 19px;
  margin-left: 50px;
}

.active {
  text-decoration: underline;
}

@media (max-width: 640px) {
}
