.headerSection {
  font-family: 'faustina', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  height: 10px;
  background-color: #f8f4ef;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.logo_AK {
  height: 55px;
}

.headerNav {
  display: flex;
  margin-left: 50px;
  align-items: center;
}

.lien,
.lien_contact {
  color: #54361b;
  text-decoration: none;
  font-size: 19px;
  margin-left: 50px;
}

.active {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .lien,
  .lien_contact {
    display: none;
  }
}
