.footer {
  font-family: 'faustina', sans-serif;
  background-color: #b9a387;
  color: #f8f4ef;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos {
  display: flex;
}

.logos:hover {
  cursor: pointer;
}

.logo {
  height: 30px;
  margin: 0 20px;
}

.logo_copyright {
  margin: 4px;
}

.copyright {
  display: flex;
  align-items: center;
}
