.footer {
  font-family: 'faustina', sans-serif;
  background-color: #b9a387;
  color: #faf2e9;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos {
  display: flex;
}

.logos:hover {
  cursor: pointer;
}

.logo {
  height: 30px;
  margin: 0 7px;
}

.logo_copyright {
  margin: 4px;
}

.copyright {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.signature {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.liens_github {
  text-decoration: none;
  color: #f8f4ef;
  font-weight: bold;
}
