.prestation_page {
  font-family: 'faustina', sans-serif;
  background-color: #f8f4ef;
  color: #6d4820;
  padding: 0 50px;
}

.img_presta_container {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.img_couverture {
  filter: brightness(80%);
  border-radius: 30px;
  width: 100%;
}

.prestation_page_title {
  margin: 0;
  margin-bottom: 20px;
}

p {
  margin: 0;
}
