.slider {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  height: 30px;
}

.right_arrow {
  margin: 0 10px;
  animation: MOUVE_X_RIGHT 3s ease-in-out infinite;
}

.left_arrow {
  margin: 0 10px;
  animation: MOUVE_X_LEFT 3s ease-in-out infinite;
}

.arrow:hover {
  cursor: pointer;
}

@keyframes MOUVE_X_RIGHT {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 4px 0;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes MOUVE_X_LEFT {
  0% {
    translate: 0 0;
  }
  50% {
    translate: -4px 0;
  }
  100% {
    translate: 0 0;
  }
}
